.signin-body{
    background-color: #e6f2ff;
}



.signin-card{
     background-color: #f4f4f4;
     padding: 40px 5px 20px;
     border-radius: 1.5%;
     box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
     margin-top: 8%;
}

.signin-img{
    margin: auto;
    width: 180px;
    display: block;
    align-self:center;
    margin-bottom: 50px ;
    
}

.signin-form{
    display: block;
    max-width: 350px;
    padding: 2%;
    margin: auto;
}

.signin-input{
    display: block;
    margin: auto;
    max-height: 50px;
    
}

.signin-btn{
    color:#ffff;
    background-color: #00457C;
    margin: auto;
    width: 100%;
    margin-bottom: 4%;
}

.signin-checkbox{
    margin-top: .5rem; 
}

.create-new-account{
    display: block;
    margin: auto;
    text-align: center;
    margin-top: 10px;
}

.field-icon {
    float: right;
    margin-top: -25px;
    position: relative; 
    padding-right: 50px;
  }